doctype html
html(lang='en')
  head
    link(href='/public/css/bootstrap.min.css', rel='stylesheet')
    script(src='/public/js/bootstrap.min.js')
  body
    .container
      h1 DMA Node App
      img.img-rounded(src='/public/img/beta.png', alt='Beta')
      form.form-signin
        h2.form-signin-heading Please sign into Salesforce
        a.btn.btn-primary.btn-lg(href='/login') Sign In
